{% import "bootstrap/wtf.html" as wtf %}
{% extends "base/admin/base_dashboard.html" %}
{% block title %}User{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div style="background-color: #526875; color: white;" class="card-header">
            <h3 style="text-align:center;">Editar User </h3>
            <p style="text-align:center;">Edita Usuario <span style="font-weight: bold;">{{ user.first_name }} {{ user.last_name }}</span></p>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          <form  id="user-form" method="POST">
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="row">
              <div class="col-md-12" >
                <div class="control-group{%if form.username.errors %} has-error{% endif %}">
                    <div class="form-group">
                        {{ form.username.label }}   
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                         </div>
                         {{ form.username(class='form-control',placeholder="Ingrese el nombre del rol" ) }}
                      </div>
                         {% for error in form.username.errors %}
                         <span class="help-block">{{ error }}</span>                    
                         {% endfor %}
                    </div>   
                </div> 
                <div class="control-group{%if form.is_activo.errors %} has-error{% endif %}">
                    <div class="form-group">
                        {{ form.is_activo.label }}   
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                         </div>
                         {{ form.is_activo(class='form-control',placeholder="" ) }}
                      </div>
                         {% for error in form.is_activo.errors %}
                         <span class="help-block">{{ error }}</span>                    
                         {% endfor %}
                    </div>   
                </div> 
                <div class="control-group{%if form.is_admin.errors %} has-error{% endif %}">
                    <div class="form-group">
                        {{ form.is_admin.label }}   
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-users"></i></span>
                         </div>
                         {{ form.is_admin(class='form-control',placeholder="" ) }}
                      </div>
                         {% for error in form.is_admin.errors %}
                         <span class="help-block">{{ error }}</span>                    
                         {% endfor %}
                    </div>   
                </div> 
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          <br>
          <div id="succes"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success"> Guardar </button>
            </div>
          </div>
          </form>
          </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->   
{% endblock %}
