{% extends '/base/base.html' %}



{% block body %}
<div class="container">
    {{title}}
    <p>{{description}}</p>
</div>


<a class="btn btn-secondary" href="{{ url_for('tipo.logout') }}">Cerar sesion</a>



<body class="gray-bg" style="background-color:#dddcdc">
    
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <img alt="" src="{{ url_for('static', filename='img/logo.png') }}"  style="text-align: center" width="310" height="225">   

                <br>
                <h4>
                    <form id="a" method="get" action="">
                        <strong>Sucursal: </strong>
                            <select name="DropSucursal" style="height:40px;width:160px;" id="DropAdmin"> 
                                <option value="1">España</option>
                                <option value="2">Cosalud</option>
                                <option value="3">Sion Urbari</option>
                                <option value="4">Niño Jesús</option>
                                <option value="6">ONCOLOGICO</option>
                                <option value="5">Canal Isuto</option>
                            </select>                
                    </form>
                </h4>
                    <br> 
                    <p>Seleccione primeramente la sucursal en la cual iniciara sesion.</p>
            </div>
 
            <div class="col-md-6">
                    
                    
        
                <span class="clear">
                    <span class="block m-t-xs">
                        <h4> 
                            <strong class="font-bold">Usuario :  </strong> {{ Nombre}} 
                        </h4>            
                        <!-- <p>
                            Inicia sesión. Para verlo en acción.
                        </p> -->


                <div class="btn-group-vertical ">
                    <a href="{{ url_for('tipo.admin') }}" class="btn btn-primary">Administrador</a>
                    <br>
                    <a href="{{ url_for('tipo.recepcionista') }}" class="btn btn-primary">Recepcionista</a>
                    <br>
                    <a href="{{ url_for('tipo.bioquimico') }}" class="btn btn-primary">Bioquimico</a>
                    <br>
                    <a href="{{ url_for('tipo.tecnico') }}" class="btn btn-primary">Tecnico</a>
                    <br>
                    <a href="{{ url_for('tipo.paciente') }}" class="btn btn-primary">Paciente</a>
                    <br>

                </div>
            
            </span></span>
            </div>

        </div>    
    <hr>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p style="text-align: center" class="m-t"> 
                    <small> © 2022 BiomecVirtual |  Casa Matriz TEL.  | CEL. <br> 
                        Sistema de informacion 1| Santa Cruz - Bolivia 
                    </small> 
                </p>
           </div>
            <div class="col-md-1"></div>
        </div>

    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>


</div></body>
{% endblock %}