{% extends '/base/base_dashboard.html' %}






<!-- Aqui Creamos una tabla para mostrar todos los datos personalesl-->

{% block navbars1 %}

  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Generar Reporte Inventario
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Inventario
    </a>
  </li>
  <li>
    <a href="#" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
      Registrar Reactivo  <!-- aca se agrega los items del inventario  -->
    </a>
  </li>
{% endblock %}


{% block tabla %}
<!-- no se si de deba listar alguna tabla  -->


{% endblock %}



