{% extends "base/admin/base_dashboard.html" %}
{% block title %}Forbidden{% endblock %}
{% block body %}
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" style="text-align: center">
              <h1> 403 Error </h1>
              <h3> No tienes suficientes permisos para acceder a esta pagina . </h3>
            </div>
         </div>
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
