<html><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="shortcut icon" type="../image/ico" href="..fa.ico">
<link rel="icon" type="../image/ico" href="{{ url_for('static', filename='img/logo.png') }}">


    <title> {{title}}</title>


    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" media="all">

    <!-- iconos de botones necesita internet si o si-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!-- Toastr style -->
    <link href="{{ url_for('static', filename='css/toastr.min.css') }}" rel="stylesheet" media="all">

    <!-- Gritter -->
    <link href="{{ url_for('static', filename='js/jquery.gritter.css') }}" rel="stylesheet" media="all">

    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="all">

<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>

       
    <!-- Custom CSS -->
    {% block customCSS %}
    {% endblock %}
    
<body class="text-center">

    


    {% block body %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>